                                             __Bussiness Case__
                                                                                                                           
Bank GoodCredit wants to predict cred score for current credit card customers. The cred score will denote a customer’s credit worthiness and help the bank in reducing credit default risk.

                                          ____DataSets Attributes____
                                               
Target variable → Bad_label
* 0 – Customer has Good credit history
* 1 – Customer has Bad credit history (falls into 30 DPD + bucket)

This data has three tables and each tables has there own columns :-
* __Cust_Account__   
* __Cust_Demographics__ 
* __Cust_Enquiry__

                                                __Preface__
                                              
In bank Goodcredit, banks consider and evaluate every loan application based on merits. They check the creditworthiness of every individual or entity to determine the level of risk that they subject themself by lending to an entity or individual.Clients with a high level of risk are less desirable since they present with a high likelihood of defaulting on their loan obligations. Low-risk clients are more likely to get their loan applications approved since the lender considers them creditworthy.

                                               __Domain Analysis__
                                         
Bank credit analysis involves verifying and determining the creditworthiness of a potential client by looking at their financial state, credit reports, and business cash flows.The goal of credit analysis is to determine the level of default risk that a client presents to the company and the losses that the bank will suffer if the client defaults.The risk level that a client presents determines whether the bank will approve or reject the loan application, and if approved, the amount to be awarded.some of the major table this data has and every tables has there own important columns which are Customers Account, Customers Demographics and Customers Enquiry.                                         

* Cust_Account :- This table contains customer’s historical accounts data and payments history.
* Cust_Demographics :- This table contains customer’s historical enquiry data such as enquiry amount and enquiry purpose.
* Cust_Enquiry :- Current customer applications with demographic data
* __Note__ that demographics features are renamed as features and obscured in accordance with privacy policies.

* I will explain every necesseary columns when i'll do __Data Cleaning__.

                                              __Data Set Fields__
                                              
For getting a Dataset we have to install pymysql and mysql connector. and the help of mysql i'm going to load dataset and convert into csv file then i'm going to work on this project.

                                            __python implimentation__

In [1]:
# installing pymysql and mysql-connector package for making connections to database server

!pip install pymysql  
!pip install mysql-connector

Requirement already satisfied: pymysql in c:\users\dell\anaconda3\lib\site-packages (1.0.3)
Requirement already satisfied: mysql-connector in c:\users\dell\anaconda3\lib\site-packages (2.2.9)

In [ ]:
import os               # Handling the Current Working Directory
import mysql.connector  #  mysql-connector for making connections to database server
import pandas as pd     # import pandas for analyzing, cleaning, exploring, and manipulating data
import numpy as np      # import numpy for working with mathematices part/numerical data
## visualisation
import matplotlib.pyplot as plt
import seaborn as sns
# for ignoring warning
import warnings
warnings.filterwarnings("ignore")

In [ ]:
## making connections to database server
connection=mysql.connector.connect(host = "18.136.157.135",
                                  user='dm_team1',
                                  password='DM!$Team&279@20!')

In [ ]:
## Check the number of databases available on the server
cursor=connection.cursor()
cursor.execute('show databases')
for i in cursor:
    print(i)

In [ ]:
## connecting the database
connection=mysql.connector.connect(host='18.136.157.135',
                                  user='dm_team1',
                                  password='DM!$Team&279@20!',
                                  database='project_banking')

In [ ]:
# getting all tables of bank goodcredit
db_tables=pd.read_sql_query('show tables',connection)
print(db_tables)

In [ ]:
# put Cust_Account tables in variable
Cust_Account = pd.read_sql_query("Select * from Cust_Account",connection)

In [ ]:
# put Cust_Demographics tables in variable
Cust_Demographics = pd.read_sql_query("Select * from Cust_Demographics",connection)

In [ ]:
# put Cust_Enquiry tables in variable
# Don't need Customers enquriy for traing model so we are skip the tables
# we skip this tables because customers enquiry tables nevers contribute for checking credit score
Cust_Enquiry = pd.read_sql_query("Select * from Cust_Enquiry",connection)

In [ ]:
# run a code for showing all columns
pd.set_option('display.max_columns',None)
pd.reset_option('display.max_rows',None)

In [ ]:
# This table contains customer’s historical accounts data and payments history.
Cust_Account

In [ ]:
#  This table contains customer’s historical enquiry data such as enquiry amount and enquiry purpose.
Cust_Demographicsr

In [ ]:
# Current customer applications with demographic data
Cust_Enquiry

In [ ]:
# here i'm going to merge the all tables in one variables and making one dataset of two tables by using inner join
data = pd.merge(Cust_Account,Cust_Demographics,on ="customer_no",how="inner")

In [ ]:
# that's we got dataset after mergeing.....
data

In [ ]:
# To save mergeing dataset
data.to_csv("Bank_GoodCredits",index=False)

In [ ]:
#data is in csv file so we have to call pd.read_csv from pandas
data = pd.read_csv("Bank_GoodCredits")# loading a dataset

In [ ]:
data

# Basic Checks :-

In [ ]:
data.info()  # information of each and every columns

In [ ]:
data.describe()    #statistical information

In [ ]:
data.describe(include="O")  # statistical information of categorical data

Insight from Basic checks :-

* we can see that this dataset has approx 50 lakhs rows.
* there are lots of columns which are unnecessary columns we have to drop.
* Lots of the columns having object type we have to change into int or float.
* In this dataset lots of the missing are availables we cannot do EDA first.So,here we are going to do data cleaning         first.

# Data Preprocessing :-

Handling missing value first and going to drop columns which has around 40% missing value

In [ ]:
data.isnull().sum()  # checking null value

In [ ]:
# here i'm running a loop which columns having >=40% missing value i'm append in new variable and drop that columns.
df = []
for i in data.columns:
    if (data[i].isnull().sum())/len(data)*100>=40:
        df.append(i)

In [ ]:
print(df)

In [ ]:
# droping columns which has >=40% missing value
data.drop(['closed_dt', 'amt_past_due', 'paymenthistory2', 'creditlimit', 'cashlimit', 'rateofinterest', 'paymentfrequency',
           'actualpaymentamount', 'feature_8', 'feature_9', 'feature_10', 'feature_13', 'feature_17', 'feature_18',
           'feature_45', 'feature_48', 'feature_49', 'feature_51', 'feature_53', 'feature_57', 'feature_61', 'feature_73',
           'feature_74','Unnamed: 0'],axis=1,inplace=True)

In [ ]:
# checking duplicate rows
data.duplicated().sum()

In [ ]:
# dropping duplicated rows
data.drop_duplicates(inplace=True)

In [ ]:
data

In [ ]:
# now we are going to drop unnecessary columns

data.drop(["reporting_dt","paymenthistory1","dt_opened_y","entry_time","feature_2","feature_20","feature_21",
          "feature_22","feature_24","feature_46","feature_47","feature_54","feature_75","feature_77","last_paymt_dt","paymt_str_dt","paymt_end_dt","feature_5","feature_6","feature_62","feature_70",
           "feature_79","feature_39","dt_opened_x","upload_dt"],axis=1,inplace=True)

In [ ]:
data

In [ ]:
# run a loop for getting all columns unique values

for i in data.columns:
    print(f"======= { i } ========\n")
    print(data[i].value_counts())

In [ ]:
# Now, i'm going to drop that columns which has no variety in values

data.drop(["owner_indic","feature_11","feature_19","feature_23","feature_25","feature_31","feature_33","feature_42",
          "feature_55","feature_58","feature_59","feature_60","feature_67","feature_76","feature_78","feature_52",],axis=1,inplace=True)

In [ ]:
data

### filling the null value and change data type :-

In [ ]:
pd.reset_option('display.max_rows',None)

In [ ]:
data.isnull().sum()  # checking null value

In [ ]:
# Filling all null value by the help of Measure of Central Tendency


data.loc[data["opened_dt"].isnull(),"opened_dt"] = "13-Apr-12"
data.loc[data["high_credit_amt"].isnull(),"high_credit_amt"] = np.mean(data.high_credit_amt)
data.loc[data["feature_1"].isnull(),"feature_1"] = "Platinum Maxima"
data.loc[data["feature_3"].isnull(),"feature_3"] = 682.0
data.loc[data["feature_4"].isnull(),"feature_4"] = 3.000000
data.loc[data["feature_7"].isnull(),"feature_7"] = np.mean(data.feature_7)
data.loc[data["feature_12"].isnull(),"feature_12"] = "PM1"
data.loc[data["feature_14"].isnull(),"feature_14"] = 12.000000
data.loc[data["feature_15"].isnull(),"feature_15"] = "SA03"
data.loc[data["feature_16"].isnull(),"feature_16"] = "AS03"
data.loc[data["feature_26"].isnull(),"feature_26"] = 0.000000
data.loc[data["feature_27"].isnull(),"feature_27"] = "Graduate"
data.loc[data["feature_28"].isnull(),"feature_28"] = "New Delhi"
data.loc[data["feature_29"].isnull(),"feature_29"] = np.mean(data.feature_29)
data.loc[data["feature_30"].isnull(),"feature_30"] = 2010.0
data.loc[data["feature_32"].isnull(),"feature_32"] = "Self"
data.loc[data["feature_34"].isnull(),"feature_34"] = 2.0
data.loc[data["feature_35"].isnull(),"feature_35"] = 42759.59392727169
data.loc[data["feature_36"].isnull(),"feature_36"] = "Private Ltd. Co."
data.loc[data["feature_37"].isnull(),"feature_37"] = "Banking/Financial Services"
data.loc[data["feature_38"].isnull(),"feature_38"] = "MANAGER"
data.loc[data["feature_40"].isnull(),"feature_40"] = 0.0
data.loc[data["feature_41"].isnull(),"feature_41"] = 11.0
data.loc[data["feature_43"].isnull(),"feature_43"] = "New Delhi"
data.loc[data["feature_44"].isnull(),"feature_44"] = np.mean(data.feature_44)
data.loc[data["feature_50"].isnull(),"feature_50"] = "Y"
data.loc[data["feature_63"].isnull(),"feature_63"] = "2010-0"
data.loc[data["feature_64"].isnull(),"feature_64"] = 10.0
data.loc[data["feature_65"].isnull(),"feature_65"] = 157.0
data.loc[data["feature_66"].isnull(),"feature_66"] = np.mean(data.feature_66)
data.loc[data["feature_68"].isnull(),"feature_68"] = 1.0
data.loc[data["feature_69"].isnull(),"feature_69"] = np.mean(data.feature_69)
data.loc[data["feature_71"].isnull(),"feature_71"] = 10.0
data.loc[data["feature_72"].isnull(),"feature_72"] = "R"
data.loc[data["feature_56"].isnull(),"feature_56"] = 10.0

In [ ]:
data.isnull().sum()  # checking null value

In [ ]:
# Converting Date columns in date formate using pd.to_datetime technique
def convert_into_datetime(columns):
    data[columns]=pd.to_datetime(data[columns])
    
# Converting the columns into Datetime using for loop
for i in ['opened_dt']:  
    convert_into_datetime(i) 
    
# Create the new columns with month 
data['opened_dt_year']=data['opened_dt'].dt.year

data.drop('opened_dt',axis=1,inplace=True)  # drop opened_dt columns because now it's not necessary

In [ ]:
# here i'm going to split the feature_63 columns for getting only year

data.feature_63 = data['feature_63'].str.split('-',expand=True)[0]

In [ ]:
data

In [ ]:
data.loc[data["feature_3"]<500,"feature_3"]=np.median(data.feature_3)

In [ ]:
# Change columns type according to their value some columns having object type but it should in int type 

data.high_credit_amt = data.high_credit_amt.astype(int)
data.feature_3 = data.feature_3.astype(int)
data.feature_4 = data.feature_4.astype(int)
data.feature_14 = data.feature_14.astype(int)
data.feature_26 = data.feature_26.astype(int)
data.feature_30 = data.feature_30.astype(int)
data.feature_34 = data.feature_34.astype(int)
data.feature_40 = data.feature_40.astype(int)
data.feature_44 = data.feature_41.astype(int)
data.feature_56 = data.feature_56.astype(int)
data.feature_63 = data.feature_63.astype(int)
data.feature_64 = data.feature_64.astype(int)
data.feature_65 = data.feature_65.astype(int)
data.feature_68 = data.feature_68.astype(int)
data.feature_71 = data.feature_71.astype(int)

In [ ]:
data

# EDA

* we can't do EDA with this dataset because most of the columns name are hide because of security propose but we are going to do EDA with possible columns which can give us perfect insights.
* Now,lets start EDA after that we are going to change categorical variable into numerical variables.

In [ ]:
sns.countplot(data.feature_1,hue = data.Bad_label)  #assign countplot between feature_1 and Bad Labels
plt.title("Credit Cards vs Bad Labels") # assign title name of distributions
plt.xticks(rotation=90)#increasing font of x-axis and rorating 90 degree 
plt.show() # for showing graphs

#### Insights

* Most of the person having Platinum Maxima and Platinum Deligh Cards.
* person who has Golf Card they having 50-50 chance of good or bad Credit Score (bad or good labels).
* person who have RBL bank Fun+,Insignia and Platinum Cricke Cards they have perfect credit score

In [ ]:
sns.histplot(data.feature_3)# asign histplot for feature_3

### Insights

* Most of the customers have good credit score

In [ ]:
sns.countplot(data.feature_27,hue = data.Bad_label)#assign countplot between feature_27 and Bad Labels
plt.title("customers education vs Bad Labels")# assign title name of distributions
plt.xticks(rotation=90)#increasing font of x-axis and rorating 90 degree 
plt.show()# for showing graphs

### Insights

* Few chance of that customers who has completed Post Graduate, Graduate and MBA/MMS their Credit score are Bad.

In [ ]:
sns.countplot(data.feature_28,hue = data.Bad_label)#assign countplot between feature_28 and Bad Labels
plt.title("Customer State vs Bad Labels") # assign title name of distributions
plt.xticks(fontsize = 7,rotation = 90)#increasing font of x-axis and rorating 90 degree 
plt.yticks(fontsize = 11)#increasing font of y-axis
plt.show()# for showing graphs

### Insights

* Most of the Customers belong from New Delhi.

In [ ]:
sns.countplot(data.feature_32,hue = data.Bad_label)#assign countplot between feature_32 and Bad Labels
plt.title("Customers stay vs Bad Labels") # assign title name of distributions
plt.xticks(rotation=90)#increasing font of x-axis and rorating 90 degree 
plt.show()# for showing graphs

### Insights

* Most of the customers who has crdit cards they stay at their own house.

In [ ]:
sns.countplot(data.feature_36,hue = data.Bad_label) #assign countplot between feature_36 and Bad Labels
plt.title("customers Business vs Bad Labels") # assign title name of distributions
plt.xticks(rotation=90)#increasing font of x-axis and rorating 90 degree 
plt.show()# for showing graphs

### Insights 


* Most of the Customer having Credit Cards who belong from Private Ltd.Co.
* Customers who started their bussiness in Partership they maintain their credit score.

In [ ]:
sns.countplot(data.feature_37,hue = data.Bad_label) #assign countplot between feature_37 and Bad Labels
plt.title("customers Ocupations vs Bad Labels") # assign title name of distributions
plt.xticks(rotation=90)#increasing font of x-axis and rorating 90 degree 
plt.show()# for showing graphs

### Insights 

* Most chance of that Customers who doing job in Banking/Financial services they taking credit cards.

# Final Conclusions of Insights :-


* Most of the person having Platinum Maxima and Platinum Deligh Cards.
* Person who has Golf Card they having 50-50 chance of good or bad Credit Score (bad or good labels).
* Person who have RBL bank Fun+,Insignia and Platinum Cricke Cards they have perfect credit score.
* Most of the customers have good credit score.
* Few chance of that customers who has completed Post Graduate, Graduate and MBA/MMS their Credit score are Bad.
* Most of the Customers belong from New Delhi.
* Most of the Customer having Credit Cards who belong from Private Ltd.Co.
* Customers who started their bussiness in Partership they maintain their credit score.
* Most chance of that Customers who doing job in Banking/Financial services they taking credit cards.
* Most of the customers who has crdit cards they stay at their on home.

In [ ]:
data

#### Checking Outliers

In [ ]:
# getting that columns which type are integers

df = data.select_dtypes(include='int')

In [ ]:
df

In [ ]:
sns.boxplot(data.high_credit_amt)  # asign boxplot of high credit amount for checking outliers

In [ ]:
# fixed outliers with Measure of central tendency

data.loc[data["high_credit_amt"]>100000000,"high_credit_amt"] = np.mean(data.high_credit_amt)

In [ ]:
sns.boxplot(data.cur_balance_amt)# asign boxplot of current balance amount for checking outliers

In [ ]:
# fixed outliers with Measure of central tendency
data.loc[data["cur_balance_amt"]>130000000,"cur_balance_amt"] = np.mean(data.cur_balance_amt)

# Conversion of categorical variables

* Here i'm going to apply LabelEncoder and manually Encoding because every data are Nominal Data.

#### Feature_1

* which showing cards types

In [ ]:
data.feature_1.value_counts()

In [ ]:
#manual encoding of Total stops
data.feature_1 = data.feature_1.replace({"Platinum Cricke":0,"Golf Card":1,"Insignia":2,"RBL Bank Fun+":3,"Titanium Deligh":4,
                                        "Platinum Deligh":5,"Platinum Maxima":6})

#### Feature_27

In [ ]:
data.feature_27.value_counts()

In [ ]:
#manual encoding of feature_27

data.feature_27 = data.feature_27.replace({"Architect":0,"CA":1,"Engineer":2,"Professional":3,"Doctor":4,"Others":5,
                                           "Diploma":6,"MBA/MMS":7,"Post-Graduate":8,"Graduate":9})

#### Feature_32

In [ ]:
data.feature_32.value_counts()

In [ ]:
# #manual encoding of feature_32
data.feature_32 = data.feature_32.replace({"PG/Ho":0,"Compa":1,"Rente":2,"Paren":3,"Self":4})

#### Feature_36

In [ ]:
data.feature_36.value_counts()

In [ ]:
# feature_36
data.feature_36 = data.feature_36.replace({"Others":0,"Partnership":1,"PSU":2,"Partnership Co.":3,"Government Organisation":4,
                                          "Proprietorship":5,"MNC":6,"Public Ltd Co.":7,"Private Ltd. Co.":8})

#### Feature_37

In [ ]:
data.feature_37.value_counts()

In [ ]:
# #manual encoding of feature 37
data.feature_37 = data.feature_37.replace({"Agriculture":0,"Tourism":1,"Real Estate":2,"Transportation/Logistics":3,"Manufacturing":4,
                                          "Health Care":5,"KPO/LPO/ITES":6,"Industrial":7,"Information Technology":8,"Others":9,
                                          "Banking/Financial Services":10})

#### Feature_72

In [ ]:
data.feature_72.value_counts()

In [ ]:
# #manual encoding of feature 72
data.feature_72 = data.feature_72.replace({"O":0,"R":1})

#### Feature_12

In [ ]:
data.feature_12.value_counts()

#### Feature_50

In [ ]:
data.feature_50.value_counts()

In [ ]:
#manual encoding of feature 50

data.feature_50 = data.feature_50.replace({"N":0,"Y":1})

In [ ]:
from sklearn.preprocessing import LabelEncoder  # assign label encoder for change categorical value into numerical
le = LabelEncoder()

In [ ]:
data.feature_12 = le.fit_transform(data.feature_12)

In [ ]:
data.feature_15 = le.fit_transform(data.feature_15)

In [ ]:
data.feature_16 = le.fit_transform(data.feature_16)

In [ ]:
data.feature_28 = le.fit_transform(data.feature_28)

In [ ]:
data.feature_38 = le.fit_transform(data.feature_38)

In [ ]:
data.feature_50.value_counts()

In [ ]:
data

In [ ]:
# i'm going to drop feature_43 variable because feature_28 and feature_43 are giving us same information.

data.drop("feature_43",axis=1,inplace=True)

# Feature Selection

In [ ]:
data.corr()  # checking corelation

In [ ]:
plt.figure(figsize=(28,28))#increase plot size
sns.heatmap(data.corr(),annot=True,cmap="RdYlGn")#its show corelation between each and every columns by plot heatmap
#here we can see that every columns are connected to each other,So we can't remove any columns.

* Here, we can see that feature_30 highly corelated with feature_63
* feature_34 highly corelated with feature_68
* feature_35 highly corelated with feature_69
* feature_41 highly corelated with feature_44
* So, according to statistical way i'm going to drop one feature of them.

In [ ]:
data.drop(["feature_63","feature_68","feature_69","feature_41"],axis=1,inplace=True) # droping columns

In [ ]:
data

In [ ]:
# Now selecting independent variable and dependent variables

x = data.drop("Bad_label",axis=1)
x

In [ ]:
y = data.Bad_label
y

In [ ]:
#target variable are not balanced so we have to balanced this for avoiding overfitting and underfitting
data.Bad_label.value_counts()

# Model Creation :-

In [ ]:
from sklearn.model_selection import train_test_split  # import train test split for spliting the data
# creating x_train,x_test,y_train,y_test
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=43)

In [ ]:
x_train

In [ ]:
y_train

In [ ]:
x_test

In [ ]:
y_test

# Data Balancing

In [ ]:
from imblearn.over_sampling import SMOTE  # assign SMOTE for handling unbalanced data
sm = SMOTE()

In [ ]:
x_sm,y_sm = sm.fit_resample(x_train,y_train)  # balancing data

In [ ]:
from collections import Counter  # checking data balanced or not
print(Counter(y_train))
print(Counter(y_sm))

# Model Selection

## LogisticRegression Model

In [ ]:
from sklearn.linear_model import LogisticRegression  # assign Logistic regression
lr = LogisticRegression()
lr.fit(x_sm,y_sm) # fit the model

## DecisionTreeClassifier

In [ ]:
from sklearn.tree import DecisionTreeClassifier   # assign decision tree classifier algorithmn
dt = DecisionTreeClassifier()                    
dt.fit(x_sm,y_sm)   # fit the model

## RandomForestClassifier

In [ ]:
from sklearn.ensemble import RandomForestClassifier#importing randomforest
rf_clf = RandomForestClassifier(n_estimators=100)#object creation ,taking 100 decision tree in random forest 
rf_clf.fit(x_sm,y_sm)#training the data

## XGBClassifier

In [ ]:
import xgboost as xg    #importing xgboost with alias name xg
from xgboost import XGBClassifier   #calling XGBRegressor
xgb_r = xg.XGBClassifier(    #assign in variable
                  n_estimators = 500, seed = 123)
xgb_r.fit(x_sm, y_sm)# Fitting the model

## MLPClassifier -ANN

In [ ]:
## model creation
from sklearn.neural_network import MLPClassifier
model = MLPClassifier( hidden_layer_sizes=(100,2),
                       learning_rate_init=0.1,
                       max_iter=150,random_state=33) ## model object creation max_iter=Stopping parameter
model.fit(x_sm,y_sm) ## training the data

## Model Evalution

In [ ]:
# assign evalution metrics for checking performance of model

from sklearn.metrics import accuracy_score,r2_score,f1_score,precision_score,recall_score,confusion_matrix,classification_report

## Logistic Regression Model Evalution

In [ ]:
y_pred = lr.predict(x_test) # predict the model
y_pred

In [ ]:
y_test.values # checking test values

In [ ]:
acc = accuracy_score(y_pred,y_test) # checking accuracy score
acc

In [ ]:
f1 = f1_score(y_pred,y_test,average="weighted") # checking f1 score
f1

In [ ]:
confusion_matrix(y_pred,y_test) # checking confusion metrix

In [ ]:
print(classification_report(y_pred,y_test)) # checking classification report of model

## Decision Tree Classifier Model Evalution

In [ ]:
y_pred4=dt.predict(x_test) # predict the model
y_pred4

In [ ]:
y_test.values # checking y test

In [ ]:
acc5 = accuracy_score(y_pred4,y_test) # checking accuracy score
f1_2 = f1_score(y_pred4,y_test)
print("accuracy_score :", accuracy_score(y_pred4,y_test))
print("precision_score :", precision_score(y_pred4,y_test))
print("recall_score :", recall_score(y_pred4,y_test))
print("F1_score :", f1_score(y_pred4,y_test))

In [ ]:
print(classification_report(y_pred4,y_test)) # checking classification report for model performance

## RandomForest Classifier Model Evalution

In [ ]:
y_predict=rf_clf.predict(x_test)#testing

In [ ]:
acc4 = accuracy_score(y_test,y_predict)# checking accuracy
f1_3 = f1_score(y_test,y_predict)
print("accuracy_score :", accuracy_score(y_test,y_predict))
print("precision_score :", precision_score(y_test,y_predict))
print("recall_score :", recall_score(y_test,y_predict))
print("F1_score :", f1_score(y_test,y_predict))

In [ ]:
print(classification_report(y_test,y_predict))# checking classification report for model performance

## XGBoost Classifier Model Evalution

In [ ]:
xgb_pred = xgb_r.predict(x_test)# Predict the model

acc_score4 = accuracy_score(y_test,xgb_pred)  #checking r2 score
f1_4 = f1_score(y_test,xgb_pred)

In [ ]:
print("accuracy_score :", accuracy_score(y_test,xgb_pred))
print("precision_score :", precision_score(y_test,xgb_pred))
print("recall_score :", recall_score(y_test,xgb_pred))
print("F1_score :", f1_score(y_test,xgb_pred))

In [ ]:
print(classification_report(y_test,xgb_pred))# checking classification report for model performance

# ANN - MLPClassifier Model Evalution

In [ ]:
y_predict_proba = model.predict(x_test) ## predicting the probability of class
y_train_predict = model.predict(x_train) # predicting the train data

In [ ]:
acc4 = accuracy_score(y_test,y_predict_proba)# checking accuracy score
f1_5 = f1_score(y_test,y_predict_proba)
acc4

In [ ]:
print(classification_report(y_test,y_predict_proba))# checking classification report for model performance

# Model Comparsion Report

In [ ]:
# creating model comparison report using DataFrame
score = pd.DataFrame({"Model":["LogisticRegression","DecisionTreeClassifier","RandomForestClassifier","XGBoost Classifier","ANN_MLPClassifier"],
                     "Accuracy":[acc*100,acc5*100,acc4*100,acc_score4*100,acc4*100],
                     "f1_score":[f1,f1_2,f1_3,f1_4,f1_5]})

In [ ]:
score# showing model comparison report

# Conclusion of Model Comparison Report

I have used 5 Algorithmns which name are LogisticRegression,DecisionTreeClassifier,RandomForestClassifier,XG Boost and ANN_MLPClassifier for training the model. I got __99.73__ percentage in __XGBoost Classifier__ which are maximum than all Algorithmn and its working Mindblowing and model predict perfect result. So,I am perfering XGBoost Classifier for checking the __GoodCredit Score of customers__.

# Data Analysis Report

The project is a machine learning model to classify Bank GoodCredit Score. The dataset contained 3 tables of Bank      GoodCredit Score which are Customers Enquiry,customers Demographics and Customers Account. The project was divided into several steps, including data exploration, data preprocessing, building and training machine learning models, and evaluating model performance.

During data exploration, we analyzed the dataset to get a better understanding of the data. We observed that the dataset was not balanced,target labels was unbalanced. We also noticed that this dataset contains lots of null value and we have to fill and drop columns which has more than 40% null value,Even most columns had wrong datatype So,we need to fixed that columns and change categorical columns into numerical for training.

For data preprocessing, We have fill null and droped that columns which has more than 40% missing value. We also droped that columns which has no variaty in values for reduced overfitting and underfitting of model.we also fixed wrong datatypes of columns and we used LabelsEncoders and manually encoding for change categorical variables into numerical variables.Even we droped unnecessary variables.

We built machine learning models by applying LogisticRegression,DecisionTreeClassifier,RandomForestClassifier,XG Boost and ANN_MLPClassifier for training the model . We trained these models on the original datasets and evaluated their performance using accuracy, recall score, precision score and F1 score. We also plotted the training and validation curves to analyze the models' behavior during training.

# Report on Challenges faced

* __Huge amount of data__ : this dataset contains 3 tables after merging important tables rows goes to 1.9 lakhs and         columns goes to 105 which are huge because of this we faced more problem while doing work it was take more time for run     any cells.

* __Choosing columns for training model__ : this dataset has 105 columns and most of the columns having no variety in their   values it was difficult to select important columns.

* __hiding columns names__ : this dataset has customers demographices tables which columns name are hiding for security       purpose.it was difficult to understand what columns are saying because of this it was difficult to select important         columns.

* __No EDA__ : we can't do EDA in this dataset because 80% columns names are hide and it's difficult to get insights from     data.because of this we got problem while doing EDA.